/* Fondo general para el contenedor de la página de inicio */
.home-container {
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* Estilo para el título de la página */
.home-title {
  font-weight: bold;
  margin-top: 2rem;
}

/* Estilo adicional para el botón */
.home-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-button:hover {
  background-color: #1b5792;
  transform: scale(1.05);
}